p{

   margin-bottom: 1rem;
  width:500px;
 text-align: justify;
 margin-left: 33.5%;

}
div{
    text-align: center;
}

h3{

    margin-left: 500px;
}

h6{
    margin-left: 700px;
   
}
